{{extend 'plantilla.html'}}
<h2 align = center>
    MENU PRINCIPAL
</h2>
<div class='well' align='center'>
  <a href="http://127.0.0.1:8000/WebSEGUR/registro/registro_visitante" class="btn btn-large btn-primary">Registrar Visitantes</a> 
  <a href="http://127.0.0.1:8000/WebSEGUR/consultas/listado_visitantes" class="btn btn-large btn-primary">Consultas</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/proveedores/registro_proveedor" class="btn btn-large btn-primary"> Registrar Proveedores</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/reportes/listado_dependencia" class="btn btn-large btn-primary"> Reportes</a>   
</div>
