{{extend 'plantilla.html'}}
<h1 align = center>
    MENU PRINCIPAL
</h1>
<h1>
<div class='well' align='center'>
  <a href="http://127.0.0.1:8000/WebSEGUR/registro/registro_visitante" class="btn btn-sm btn-primary" >Registrar Visitantes</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/registro/registro_foto" class="btn btn-sm btn-primary" >Fotos</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/registro/registro_vehiculo" class="btn btn-sm btn-primary ">Registrar Vehiculo</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/proveedores/registro_proveedor" class="btn btn-sm btn-primary"> Registrar Proveedores</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/consultas/listado_visitantes" class="btn btn-sm btn-primary">Ver visitantes</a>
  <a href="http://127.0.0.1:8000/WebSEGUR/consultas/listado_proveedores" class="btn btn-sm btn-primary">Ver proveedores</a>
    <a href="http://127.0.0.1:8000/WebSEGUR/consultas/listado_vehiculos" class="btn btn-sm btn-primary" >Ver vehiculos</a>
</div>
</h1>
